/CppProject/Client/Client/x64
/CppProject/Client/x64
/CppProject/Client/.vs
/CSharpProject/Client/.vs
/CSharpProject/Client/Client/bin
/CSharpProject/Client/Client/obj
/CSharpProject/Server/.vs
/CSharpProject/Server/Server/bin
/CSharpProject/Server/Server/obj
/CSharpDLLCompiler/.vs
/CSharpDLLCompiler/CSharpDLLCompiler/bin
/CSharpDLLCompiler/CSharpDLLCompiler/obj
